[package]
name = "qweather-service"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.76"
chrono = "0.4.31"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
qweather-http-client = { path = "../qweather-http-client", default-features = false }
